*{
    color: white;
    background-color: black;
    text-align: center;
  }
  .x{
      border: 5px white solid;
     
      border-width: 50%;
  }
  img{
    width: 600px;
    height: 300px;
  }